<h1>Categories:</h1>

<div class="row">
    <% categories.forEach(category => { %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= category.name %> </h5>
              <p class="card-text"><%= category.description %> </p>
              <a href="/categories/<%= category.id %> " class="card-link">See Rooms</a>
            </div>
        </div>
    <% }) %>
</div>